<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://mctraining.s3-eu-west-1.amazonaws.com/mctraining.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>MC Training</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-center rounded">
          <a class="navbar-brand" href="#">
            <img src="https://mctraining.s3-eu-west-1.amazonaws.com/mctraining.png" width="150" height="100" alt="">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>        
          <div class="collapse navbar-collapse navbar-center " id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0 navbar-center">
              <li class="nav-item ">
                <a class="nav-link font-weight-bold " href="/">Home </a>
              </li>
              <li class="nav-item navbar-center">
                <a class="nav-link font-weight-bold" href="/training">Training</a>
              </li>
              <li class="nav-item navbar-center">
                    <a class="nav-link font-weight-bold" href="/story">Success Stories</a>
                   </li>
                   <li class="nav-item navbar-center">
                    <a class="nav-link font-weight-bold" href="/about">About Me</a>
                   </li>
            </ul>
          </div>
        </nav>

                <!--content -->
                <br>
                <p class="h2 rec">Breakfast</p>
                <div class="card border-dark card-rec " style="width: 22rem; ">
                    <img class="card-img-top" src="https://mctraining.s3-eu-west-1.amazonaws.com/brekky.jpg" alt="Card image cap">
                    <div class="card-body"> Some more card content </div>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <p>Calories</p>
                  </div>
                <br>
                <p class="h2 rec">Lunch</p>
                <div class="card border-dark card-rec" style="width: 22rem;">
                    <img class="card-img-top" src="https://mctraining.s3-eu-west-1.amazonaws.com/lunch.jpg" alt="Card image cap">
                    <div class="card-body"> Some more card content </div>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <p>Calories</p>
                  </div>
                <br>
                <p class="h2 rec">Dinner</p>
                <div class="card  border-dark card-rec" style="width: 22rem;">
                    <img class="card-img-top" src="https://mctraining.s3-eu-west-1.amazonaws.com/dinner.jpg" alt="Card image cap">
                    <div class="card-body"> Some more card content </div>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <p>Calories</p>
                  </div>

                  <!--content ends-->
          <footer id="sticky-footer" class="py-4 bg-dark text-white-50 rounded">
              <div class="container text-center">
                <small>Copyright &copy; Your Website</small>
                <div class="col-lg-3">
                    <img src="https://img.icons8.com/material/50/000000/facebook.png">
                   <img src="https://img.icons8.com/material/50/000000/instagram-new.png">
                  
              </div>
              </div>
            </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </body>
</html>